body[arco-theme='dark'] {
  --color-var-bg: #232324;
  --color-var-text: #ffffff;
}

body {
  --color-var-bg: #ffffff;
  --color-var-text: #000000;
}

body[arco-theme='darkblue'] {
  --color-var-bg: #001729;
  --color-var-text: #ffffff;
}